<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <% console.log(locals)%>
       <h1><%= game%></h1>
       <% listOfGame.forEach((item)=>{%>
            <li><%= item %></li>
       <%});%>
    </body>
</html>


